body
{
    font-family: "Comic Sans MS", "Comic Relief", "Courier New";
}

button
{
    --width: 300px;
    position: relative;
    background-color: rgb(253, 244, 220);
    border-radius: 20px;
    font-size: 200%;
}

button:hover
{
    background-color: rgb(255, 252, 244);
    box-shadow: rgba(32, 31, 31, 0.35) 0px 7px 10px;
}

button:active
{
    background-color: rgb(235, 225, 200);
}