h1.top
{
  margin: 0;
  font-size: 100px;
  color: white;
  text-align: center;
  padding-top: 50px;
}

p.top
{
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 10vh;
}

section.top
{
  min-height: 70vh;
  background: linear-gradient(to bottom, rgb(87, 15, 255), rgb(167, 120, 255));
  background-repeat: no-repeat;
}